@model IEnumerable<Entidades.LineaFactura>
@{
    ViewBag.Title = "Create";
}

<h2>Registrar factura</h2>
<div>
@Html.Action("CreateGet", "Factura")
</div>

<div class="text-center"><h3><b>CARRITO</b></h3></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Marca)
        </th>
        <th>
            @Html.DisplayName("Precio por unidad")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayName("Monto")
        </th>
        <th></th>
    </tr>
    @foreach (var item in (List<Entidades.LineaFactura>)Session["ListaDeTabla"])
    {
        var total = item.Cantidad * item.Producto.PrecioPorUnidad;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.PrecioPorUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => total)
            </td>
            <td>
                @Html.ActionLink("Borrar", "BorrarDelCarrito", new { productoId = item.Producto.Id })
            </td>
        </tr>
    }

    
</table>

    <div>
        @Html.Action("FacturarFactura", "Factura")
    </div>

    <div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }




