@model IEnumerable<Entidades.LineaFactura>
@{
    ViewBag.Title = "Create";
}

<h2>Registrar factura</h2>
<div>
@Html.Action("CreateGet", "Factura")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Marca)
        </th>
        <th>
            @Html.DisplayName("Precio por unidad")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayName("Precio Total")
        </th>
        <th></th>
    </tr>
    @foreach (var item in (List<Entidades.LineaFactura>)Session["ListaDeTabla"])
    {
        var total = item.Cantidad * item.Producto.PrecioPorUnidad;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.PrecioPorUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => total)
            </td>
            <td>
                @Html.ActionLink("Borrar", "BorrarDelCarrito", new { productoId = item.Producto.Id })
            </td>
        </tr>
    }

    
</table>


    @using (Html.BeginForm("BorrarDelCarritoTodo", "Factura"))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align:right">
                <input type="submit" value="Borrar Lista" class="btn btn-default" />
            </div>
        </div>
    }

    <div>
        @Html.Action("FacturarFactura", "Factura")
    </div>

    <div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }




