@model Entidades.Factura

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>¿Quiéres borrar a esta factura?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Id del Cliente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayName("Monto Total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
