@model Entidades.LineaFactura

@{
    ViewBag.Title = "DetailsFactura";
}

<h2>Detalle De Factura</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequiresValidationContext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiresValidationContext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessageResourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessageResourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLineaFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLineaFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFactura)
        </dd>

    </dl>
</div>

