@model IEnumerable<Entidades.LineaFactura>

@{
    ViewBag.Title = "DetailsFactura";
}

<h2>Detalle De Factura</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdLineaFactura)        
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayName("Monto")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var total = item.Cantidad * item.Producto.PrecioPorUnidad;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLineaFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => total)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Volver al inicio", "Index")
</div>

