@model Entidades.LineaFactura

@{
    ViewBag.Title = "DetailsFactura";
}

<h2>Detalle De Factura</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdLineaFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLineaFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayName("Monto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad * model.Producto.PrecioPorUnidad)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Volver al inicio", "Index")
</div>

